<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.assignment.acadgild.zeeshan.imdbproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.android.assignment.acadgild.zeeshan.imdbproject.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_imdb"
        android:label="@string/app_label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.android.assignment.acadgild.zeeshan.imdbproject.MainActivity"
            android:label="@string/app_label"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.assignment.acadgild.zeeshan.imdbproject.Movie_DetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_label"/>

        <receiver
            android:name="com.android.assignment.acadgild.zeeshan.imdbproject.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>